.info {
    background: #72C2BB;
}

.info-data {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 100px 0;
}

.info-data>h1 {
    color: #FDF79E;
}

.info-data>p {
    color: #FFF;
}


.news {
    padding: 80px 0;
}

.news .article {
    background-color: white;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(#000, 0.2);
}

.news .article .caption {
    background-color: #FAFAFA;
    padding: 15px;
}

.news .article .caption>h4 {
    color: #6C6C6C;
}

.news .article .caption>p {
    color: #A9A9A9;
}

.news .article img {
    width: 100%;
}